In [201]:
import pandas as pd
import pickle
import re
def set_up(mode= None):
    pd.set_option('display.max_rows', mode)

In [202]:
set_up(60)

In [203]:
df = pd.read_csv("train.csv")

In [204]:
gy = ['customer_country', 'response_corporate', 'lead_owner', 'customer_idx']

In [205]:
df  = df[gy]

In [206]:
with open('response_corporate.pickle','rb') as f:
    countrys = pickle.load(f)

In [207]:
df['response_corporate2'] = df['response_corporate'].map(countrys)

In [208]:
df['customer_country'] = df['customer_country'].str.lower().str.strip()
df['response_corporate2'] = df['response_corporate2'].str.lower().str.strip()

In [209]:
# 정규표현식으로 나라만 거르기
df.loc[:,"country"] = df["customer_country"].str.extract(r'/([^/]+)$')[0]
df['country'] = df['country'].str.strip()

In [210]:
# country를 기준으로 채움
country_val = df['country'].values
country_unique = df['response_corporate2'].unique()

for idx, country in enumerate(country_val):
    if country not in country_unique: # 전처리 된 컬럼의 요소가 정해진 나라 범주에 없으면
        df.loc[idx,'country'] = df.loc[idx,'response_corporate2'] # 해당 나라 범주로 채움

In [211]:
with open('country_continent.pickle','rb') as f:
    continent = pickle.load(f)

In [212]:
df['continent'] = df['country'].map(continent)

In [215]:
df['country'].value_counts()

country
india                           16947
brazil                           9315
united states                    5928
mexico                           2759
philippines                      2659
u.a.e                            2431
colombia                         2076
united kingdom                   1673
saudi arabia                     1481
chile                            1337
panama                           1267
italy                            1172
peru                             1138
germany                          1064
poland                            846
egypt                             710
vietnam                           615
spain                             585
turkey                            547
argentina                         507
china                             451
australia                         378
singapore                         373
hungary                           360
france                            324
canada                            288
indonesia                         282
jordan                            263
the republic of south africa      262
thailand                          188
kenya                             161
korea                             133
portugal                          125
malaysia                          113
netherlands                       100
israel                             95
greece                             52
taiwan                             50
japan                              43
morocco                            34
algeria                            33
sweden                             33
romania                            31
russia                             17
iran                               14
north europe                       12
austria                            11
latvia                              7
czech republic                      7
ukraine                             2
Name: count, dtype: int64